.ical-subscribe {
	line-height: 16px;
    padding: 10px 0 20px 0;
}

.ical-subscribe .ical-icon {
	float: left;
    padding-right: 6px;
}

#main .ical-subscribe .ical-icon img {
	max-width: 100%;
}

.ical-subscribe .ical-text {
    font-size: 0.8em;
}